label {
    cursor: pointer;
}
img {
    cursor: pointer;
    display: none;
}
.button:checked ~ img {
    display: block;
}
.button:hover ~ img {
    display: block;
    transition-duration: 3s;
}
img:hover {
    display: block;
    transition-duration: 3s;
}